<div class="container-fluid">
	<div class="row">
		<div ng-if="vm.types.length > 1" class="col-sm-3 col-md-2 sidebar">
		    <div class="ws-log-update" ng-click="vm.loadDelta()">
		        <span ng-class="{'glyphicon':true,'glyphicon-repeat':vm.timer != null,'glyphicon-refresh':vm.timer == null} "> </span>
		        {{vm.lastUpdated| date:'h:mm:ss'}}
		    </div>
		    <div class="ws-log-search">
			    <div class="input-group">
			      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
			      <input type="text" class="form-control" ng-model="vm.filter" placeholder="Search">
			    </div>
		    </div>
			<ul class="nav nav-sidebar">
				<li ng-repeat="type in vm.types" ng-class="{active:  vm.isActive(type)}"><a ng-click="vm.showLog(type)">{{type.label}}</a></li>
			</ul>
		</div>
		<div ng-class="{'col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2':vm.types.length > 1, 'main':true}">
			<table class="table table-striped ws-log-table">
				<thead>
					<tr class="ws-table-header">
						<th ng-repeat="header in vm.type.headers">{{::header}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="line in vm.log | filter:vm.filter  track by $index ">
						<td ng-repeat="field in vm.split(line)" ng-class="{'ws-log-long':field.length>30}"><pre>{{::field}}</pre></td>
					</tr>
				</tbody>
			</table>
			<div id="endOfPageAnchor"></div>
		</div>
	</div>
</div>