<div class="ws-header">
	<h1 class="ws-title">Session ended</h1>
</div>

<div class="ws-modal-content">
	<p>Your session has ended. You may start a new session or close your browser window.</p>

	<button type="button" onClick="window.location.href=window.location.href;" class="ws-btn">New session</button>
</div>
